{% extends "base.twig" %}
{% block content %}
    <h1>{{ current_post.title }}</h1>
    <p>{{ current_post.post_content }}</p>
    {% for city in rod_cities %}
        <article>
            <h2><a href="{{ city.link }}">{{ city.name }}</a></h2>
        </article>
    {% endfor %}
{% endblock %}