{% extends "base.twig" %}
{% block content %}
    <h1>{{ current_post.title }}</h1>
    <p>{{ current_post.post_content }}</p>
    {% for rod in all_rods %}
        <article>
            <h2><a href="{{ rod.link }}">{{ rod.title }}</a></h2>
        </article>
    {% endfor %}
{% endblock %}